
@font-face {
    font-family: 'mass_effect_123regular';
    font-weight: 100 900;
    font-style: normal;
    src: url('../fonts/me123-webfont.woff2') format('woff2'),
    url('../fonts/me123-webfont.woff') format('woff');
}

.massEffect{
    font-family: "mass_effect_123regular";
    color: #0c0c0c;
    letter-spacing: 0.05em;
    font-weight: bolder;
}